body {
    background-color: #1e3557;
    margin: 0;
}

header {
    padding-top:3%;
    font-size:18px;
}

h1 {
    text-align: center;
    color: #f1faee;
}

main {
    background-color: #f1faee;
    text-align: center;
    padding: 2%;
}


#inputFields {
    display: inline-block;
    background-color: #f1faee;
    margin: auto;
    padding: 2%;
}

#dataSubmit {
    background-color: #457b9d;
    color: #f1faee;
    font-size: 15px;
}

table {
    margin: auto;
    padding: 2%;
    table-layout: fixed;
}

thead {
    background-color: #457b9d;
    color: #f1faee;
}

th {
    width: 17%;
    padding: 1%;
}

tbody, td {
    outline: #457b9d solid 1px;
    color: #1e3557;
    padding: 1%;
}

.removeEmp {
    background-color: #e63946;
    color: #f1faee;
    font-size: 15px;
}

h2 {
    text-align: center;
    color: #f1faee;
}

footer {
    font-size:20px;
}

#calculatedMonthlySalary {
    padding: 0.25%;
}

//* {
//    outline: darkblue solid 1px;
//}
